<div class="container">
<h1>Introducing the CK Interns -- Jessica & Elaine!</h1>
      <p>We don't feel like writing bios at this time. We just want to click <a href="https://www.pivotaltracker.com/projects/707253#"> <img src ="/deliver.png/" width="45" height="65"> </a>in Pivotal Tracker. You'll just have to get to know us on Wine Fridays. Cheers! <br></p>
         <span class="image">
            <img src ="/Jess_Elaine_12_12_12.jpg/">
         </span>
    </div> <!-- /container -->  