<!-- Le styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href= "/">Kickback</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to "Kickback Bio", bio_path %></li>
              <li><%= link_to "Videos", videos_path %></li>
              <li><%= link_to "Fan Base", fanbase_path %></li>
              <li><%= link_to "About CK Interns", about_path %></li>
              <!-- <li><a href="#bio">Kickback Bio</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

Biography of Kickback

<div class="container-fluid">
      <div class="row-fluid">
        <div class="span4">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header" style="text-align:center;"> The Quick Facts</li>
              <table border="1" cellspacing="3" style="border-spacing: 3px; width:22em;">
<tr>
<th colspan="2" class="" style="text-align:center; color: #F2F2F2; background-color: #6A0888">Decepticon</th>
</tr>
<tr>
<th colspan="2" class="" style="text-align:center; color: #F2F2F2; background-color: #6A0888">Information</th>
</tr>
<tr class="">
<th scope="row" style="text-align:left;">Sub-group</th>
<td class="" style=""><a href="/wiki/Insecticons" title="Insecticons">Insecticons</a></td>
</tr>
<tr class="">
<th scope="row" style="text-align:left;">Function</th>
<td class="" style="">Espionage</td>
</tr>
<tr class="">
<th scope="row" style="text-align:left;">Rank</th>
<td class="" style="">7</td>
</tr>
<tr class="">
<th scope="row" style="text-align:left;">Motto</th>
<td class="" style=""><i>"Friend is another word for fool."</i></td>
</tr>
<tr class="">
<th scope="row" style="text-align:left;">Alternate Modes</th>
<td class="" style="">Mechanical <a href="/wiki/Grasshopper" title="Grasshopper">Grasshopper</a> Insectrain (Rear)</td>
</tr>
<tr class="">
<th scope="row" style="text-align:left;">Series</th>
<td class="" style=""><i><a href="/wiki/Transformers:_Generation_1" title="Transformers: Generation 1">Transformers: Generation 1</a></i><br />
<i><a href="/wiki/Transformers:_Universe" title="Transformers: Universe">Transformers: Universe</a></i></td>
</tr>
<tr class="">
<th scope="row" style="text-align:left;">English voice actor</th>
<td class="" style=""><a href="/wiki/Clive_Revill" title="Clive Revill">Clive Revill</a><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>1<span>]</span></a></sup></td>
</tr>
</table>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->


See full biography at Wikipedia. <li http://en.wikipedia.org/wiki/Kickback_(Transformers) /li>
