<title>Biography of Kickback</title>

<div class="container-fluid">
      <div class="row-fluid">
        <div class="span4">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header" style="text-align:center;"> The Quick Facts</li>
              <table border="1" cellspacing="3" style="border-spacing: 3px; width:100%">
				<tr>
				<th colspan="2" class="" style="text-align:center; color: #F2F2F2; background-color: #6A0888">Decepticon</th>
				</tr>
				<tr>
				<th colspan="2" class="" style="text-align:center; color: #F2F2F2; background-color: #6A0888">Information</th>
				</tr>
				<tr class="">
				<th scope="row" style="text-align:left;">Sub-group</th>
				<td class="" style="">Insecticons</a></td>
				</tr>
				<tr class="">
				<th scope="row" style="text-align:left;">Function</th>
				<td class="" style="">Espionage</td>
				</tr>
				<tr class="">
				<th scope="row" style="text-align:left;">Rank</th>
				<td class="" style="">7</td>
				</tr>
				<tr class="">
				<th scope="row" style="text-align:left;">Motto</th>
				<td class="" style=""><i>"Friend is another word for fool."</i></td>
				</tr>
				<tr class="">
				<th scope="row" style="text-align:left;">Alternate Modes</th>
				<td class="" style="">Mechanical Grasshopper</a> Insectrain (Rear)</td>
				</tr>
				<tr class="">
				<th scope="row" style="text-align:left;">Series</th>
				<td class="" style=""><i>Transformers: Generation 1</a></i><br />
				<i>Transformers: Universe</a></i></td>
				</tr>
				<tr class="">
				<th scope="row" style="text-align:left;">English voice actor</th>
				<td class="" style="">Clive Revill</a></td>
				</tr>
				</table>
            </ul>
        </div><!--/.well -->
</div><!--/span-->

       <div class="span8">
             <h1>Animated series</h1>
				<p>Kickback debuted with the rest of the Insecticons in the first season episode, "A Plague of Insecticons". The Insecticons were a group of Decepticons, who fled the Nemesis four million years ago in an escape ship. The ship landed in Indonesia where the Insecticons reformatted themselves to resemble insects. The Insecticons' stomachs could absorb most forms of energy and matter and use it to fuel the robots.</p>
				</br>
				
				<p>Kickback seemed to take a back seat to Bombshell and Shrapnel in the leadership department. He loved to use his powerful legs to cause trouble for the Autobots (i.e. kicking tree trunks at them). At first Megatron was very pleased with the Insecticons, However, once the tide of battle turned in the Autobots' favor, the Insecticons consumed the Decepticons' Energon. This began a feud between the Insecticons and the Decepticons.</p>
				</br>
				
				<p>The Decepticon/Insecticon feud continued throughout the second season. In The Transformers: The Movie, Kickback and the Insecticons were involved in the battle of Autobot City. Kickback suffered major injuries when he was knocked over by Hot Rod and then quickly had his head was crushed by Kup and later gunned down by Optimus Prime. As a result, he was among the Decepticons who were ejected into space during their return trip to Cybertron, and was transformed into one of the Sweeps by Unicron. Oddly, Kickback can be seen among the Decepticons on Cybertron scattered by the arrival of Galvatron and Cyclonus. It is possible that this is an animation error.</p>
				</br>
             	
             	See full biography at Wikipedia. <a href=http://en.wikipedia.org/wiki/Kickback_(Transformers)>http://en.wikipedia.org/wiki/Kickback_(Transformers)</a>
        </div>



