<!DOCTYPE html>
<html>
  <head>
    <title>Kickback Test App</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
<h1>Kickback likes to kick back!</h1>
<span class="image">
  <img src ="/kickback.jpg/">
  </span>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

