
<div class="container">
<h1>Kickback likes to kick back!</h1>
      <p>Kickback is the name of an Insecticon who turns into a giant mechanical grasshopper.<br> This is perfect, because as the first CK interns, we are grasshoppers. Learn more <%= link_to "here.", bio_path %></p>
         <span class="image">
            <img src ="/kickback.jpg/" border ="105">
         </span>
    </div> <!-- /container -->  
