
	<div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header" style="text-align:center;"> Here are a few videos showcasing Kickback, kicking back!</li>

	</div><!--/.well -->
	</div><!--/span-->

<div class="span10">

<p><h4>An elaborate showcasing of this lovely toy, which you can have in YOUR OWN HOME.</h4></p>
<iframe width="420" height="315" src="http://www.youtube.com/embed/yV4vxhUzB6U" frameborder="0" allowfullscreen></iframe>

<h4> Animated Series, episode 28: The Insecticon Invasion </h4> 
<p><h4>Part I</h4></p>
<iframe width="420" height="315" src="http://www.youtube.com/embed/HrFFC2sMKIo" frameborder="0" allowfullscreen></iframe>


<p><h4>Part II</h4></p>
<iframe width="420" height="315" src="http://www.youtube.com/embed/7Mjn7SngQ7U" frameborder="0" allowfullscreen></iframe>


<p><h4>Part III</h4></p>
<iframe width="420" height="315" src="http://www.youtube.com/embed/fGXMh-tOByQ" frameborder="0" allowfullscreen></iframe>

